@model List<Domain.Entities.Exam>

 @{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}





                  
 
                    <div class="row" >
                        <div class="col-md-12" >
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-bell-o"></i>Exam List </div>
                                    <div class="tools">
                                       
                                        <a href="javascript:;" class="reload"> </a>
                                      
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable" style="overflow:auto;">
                                        <table class="table table-striped table-bordered table-advance table-hover">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        <i class="fa fa-briefcase"></i> Title </th>
                                                    <th class="hidden-xs">
                                                        <i class="fa fa-user"></i> Created Date </th>
                                                 
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                           @foreach (var item in Model)
                                           {
                                                <tr>
                                                    <td class="highlight">
                                                        <div class="info"> </div>
                                                        <a href="javascript:;"> @item.Title </a>
                                                    </td>
                                                    <td class="hidden-xs"> @item.CreatedData </td>
                                                    
                                                    <td>
                                                        <a onclick="confirmation(event)"  href="/Exam/DeleteExam/"+@item.id class="btn btn-outline btn-circle dark btn-sm black">
                                                            <i class="fa fa-trash-o"></i> Delete </a>
                                                    </td>
                                                </tr>
                                           }
                                           
                                               
                                          
                                               
                                             
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                   
                    </div>
        
                <!-- END CONTENT BODY -->
            
           
  
        
       
        <script src="../assets/apps/scripts/sweetalert.min.js"></script>
        <script>
        function confirmation(ev) {
        ev.preventDefault();
        var urlToRedirect = ev.currentTarget.getAttribute('href');
        swal({
                title: "Are You Sure",
                text: "Are You Sure",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                closeOnConfirm: false
            },
            function () {
                window.location = urlToRedirect;
            });
    }
        </script>
    
        
        <!-- END THEME LAYOUT SCRIPTS -->
  
